<!-- Frameworks -->
<script src="js/frameworks/jquery/jquery.min.js"></script>
<script src="js/frameworks/angular/angular.js"></script>

<!-- JQuery Plugins -->
<script src="js/frameworks/jquery/plugins/bootstrap.min.js"></script>
<script src="js/frameworks/jquery/plugins/prism.js"></script>
<script src="js/frameworks/jquery/plugins/jquery.dataTables.min.js"></script>
<script src="js/frameworks/jquery/plugins/highcharts.js"></script>
<script src="js/frameworks/jquery/plugins/exporting.js"></script>
<script src="js/frameworks/jquery/plugins/summernote.min.js"></script>
<script src="js/frameworks/jquery/plugins/summernote-de-DE.min.js"></script>
<script src="js/frameworks/jquery/plugins/d3.min.js"></script>
<script src="js/frameworks/jquery/plugins/topojson.min.js"></script>
<script src="js/frameworks/jquery/plugins/datamaps.all.min.js"></script>

<!-- Angular Directives -->
<script src="js/frameworks/angular/directives/angular-datatables.min.js"></script>
<script src="js/frameworks/angular/directives/angular-drag-and-drop-lists.min.js"></script>
<script src="js/frameworks/angular/directives/angular-resource.min.js"></script>
<script src="js/frameworks/angular/directives/angular-notify.min.js"></script>
<script src="js/frameworks/angular/directives/angular-summernote.min.js"></script>
<script src="js/frameworks/angular/directives/angular-datamaps.js"></script>

<!-- Parent Component -->
<script src="js/components/app.js"></script>

<!-- Child Components -->
<script src="js/components/404.js"></script>
<script src="js/components/guide.js"></script>
<script src="js/components/login.js"></script>

<!-- Grand-Child Components -->
<script src="js/components/themes.js"></script>
<script src="js/components/contact.js"></script>
<script src="js/components/getting-started.js"></script>
<script src="js/components/data-table.js"></script>
<script src="js/components/drag-and-drop.js"></script>
<script src="js/components/charts.js"></script>
<script src="js/components/databinding.js"></script>
<script src="js/components/forms.js"></script>
<script src="js/components/notify.js"></script>
<script src="js/components/wysiwyg-editor.js"></script>
<script src="js/components/data-maps.js"></script>

<!-- Angular Routing -->
<script src="js/frameworks/angular/directives/angular-route.js"></script>
<script src="js/frameworks/angular/directives/angular-route.min.js"></script>
