<!doctype html>
<html ng-app="usaaApp">
<head>
  <meta charset="UTF-8">
  <title>Angular 1.5 Quick Start Guide</title>
  <!-- Angular HTML5 Route -->
  <base href="/Test/USAA/">
  <!-- Framework CSS -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- Plugin CSS -->
  <link href="css/jquery/plugins/prism.css" rel="stylesheet" type="text/css">
  <link href="css/jquery/plugins/jquery.dataTables.min.css" rel="stylesheet">
  <link href="css/bootstrap/plugins/datatables.bootstrap.min.css" rel="stylesheet">
  <link href="css/jquery/plugins/angular-notify.min.css" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="css/templates/datatables-styles.css" rel="stylesheet">
  <link href="css/templates/charts-styles.css" rel="stylesheet">
  <link href="css/templates/databinding-styles.css" rel="stylesheet">
  <link href="css/templates/forms-styles.css" rel="stylesheet">
  <link href="css/templates/dragdrop-styles.css" rel="stylesheet">
  <link href="css/templates/notifications-styles.css" rel="stylesheet">
  <link href="css/templates/wysiwyg-styles.css" rel="stylesheet">
  <link href="css/templates/datamaps-styles.css" rel="stylesheet">

</head>