/* Descriptive color variables */

$eastern-blue: #1e91c0;
$venice-blue: #086a94;
$astronaut-blue: #033b63;
$iron: #999;
$white: #fff;
$silver: #ccc;
$greenish-white: #dff0d8;
$alto: #ddd;
$quill-gray: #d4d4d2;
$westar: #e0dedc;
$killarney: #3c763d;
$persian-red: #d23a3a;
$trout: #535b64;
$masala: #4b4948;
$tundora: #474747;
$mine-shaft: #333;
$alabaster-solid: #fafafa;
$rob-roy: #F0C36D;
$dairy-cream: #F9EDBE;
$cornflower-blue: #66afe9;
$pilorus: #1e91c1;