<div class="container">
    <div id="wysiwyg-page">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <h4>WYSIWYG Editor</h4>
                <div class="wysiwyg-tools">
                    <summernote ng-model="sampleText" config="options"></summernote>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>HTML code view of text</h4>
                <div class="code-view">
                    <textarea type="text" ng-model="sampleText"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
