<div id="wrapper" class="" ng-class="{closeMenu : $ctrl.menuClosed}">
    <div id="sidebar-wrapper" ng-style="$ctrl.primaryColor">
        <ul class="sidebar-nav">
            <li class="sidebar-brand" ng-style="$ctrl.secondaryColor">
                <a class="logo" href="#"><img src="{{$ctrl.logoSrc}}"></a>
                <div class="greeting">Welcome <b>{{$ctrl.username}}</b></div>
            </li>
            <li class="link" ng-repeat="side_link in $ctrl.side_menu" ng-class="{active : $ctrl.activeLink === side_link.name}">
                <span class="{{side_link.icon}} icon"></span>
                <a aria-hidden="true" ng-link="['{{side_link.name}}']">{{side_link.text}}</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="top-menu">
            <div class="menu"><span ng-click="$ctrl.toggleMenu()" class="glyphicon glyphicon-menu-hamburger"></span></div>
            <div class="links">
                <a class="link" ng-repeat="top_link in $ctrl.top_menu" aria-hidden="true" ng-click="$ctrl.setActive(top_link.name)" ng-class="{active : $ctrl.activeLink === top_link.name}" ng-link="['{{top_link.name}}']">{{top_link.text}}</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <ng-outlet></ng-outlet>
                </div>
            </div>
        </div>
    </div>
</div>